<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de registro</title>
    <div th:include="navbar :: head (titulo='Formulario de registro')"></div>
    <link rel="stylesheet" th:href="@{/css/custom/guest-user/registro-codigo-confirmacion-form.css}">
</head>
<body>
<div th:replace="navbar::menuBar"></div>
<div class="page-container">
    <div class="login-container">
        <h1 class="form-title">Código de confirmación</h1>
        <p class="form-description">Introduzca el código de confirmación que se le ha enviado al email proporcionado</p>
        <form>
            <div class="form-group">
                <label class="form-label" for="confirmation-code">Código*</label>
                <input type="text" id="confirmation-code" class="form-input" required placeholder="">
            </div>
        </form>
    </div>
</div>
<div th:replace="navbar::javascript"></div>
</body>
</html>