<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar profesionales médicos</title>
    <div th:include="navbar :: head (titulo='Registrar profesionales médicos')"></div>
    <link rel="stylesheet" th:href="@{/css/custom/centro-medico/registro-profesionales-medicos.css}">
</head>
<body>
    <div th:replace="navbar::menuBar"></div>
    <div class="page-container">
        <div class="form-container">
            <h1 class="form-title">Registrar un nuevo centro médico</h1>
            <p class="form-description">Adjunte un fichero CSV con los datos de los profesionales médicos que desee agregar a su centro médico </p>
            <form>
                <label class="attachment-button">
                    Adjuntar Fichero CSV
                    <span class="attachment-icon">▼</span>
                    <input type="file">
                </label>
                <br>
                <button type="submit" class="submit-button">Registrar</button>
            </form>
        </div>
    </div>
    <div th:replace="navbar::javascript"></div>
</body>
</html>
