<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completar datos de residencia</title>
    <div th:include="navbar :: head (titulo='Completar datos de residencia')"></div>
    <link rel="stylesheet" th:href="@{/css/custom/paciente/completar-datos-residencia.css}">
</head>
<body>
<div th:replace="navbar::menuBar"></div>
<div class="page-container">
    <div class="login-container">
        <h1 class="form-title">Complete sus datos de residencia</h1>
        <form>
            <div class="form-group">
                <label class="form-label" for="country">País*</label>
                <input type="email" id="country" class="form-input" required placeholder="España">
            </div>
            <div class="form-group">
                <label class="form-label" for="provincia">Provincia</label>
                <input type="text" id="provincia" class="form-input" placeholder="Alicante">
            </div>
            <div class="form-group">
                <label class="form-label" for="municipio">Municipio</label>
                <input type="text" id="municipio" class="form-input" placeholder="San Vicente del Raspeig">
            </div>
            <div class="form-group">
                <label class="form-label" for="codigo-postal">Código Postal</label>
                <input type="text" id="codigo-postal" class="form-input" placeholder="03690">
            </div>
            <button type="submit" class="submit-button">Aceptar</button>
        </form>
    </div>
</div>
<div th:replace="navbar::javascript"></div>
</body>
</html>